<div class="container">
    <div class="row">
        <div class="col-3">
            <h3>Sort</h3>
            <select class="form-select mb-4" (change)="onSortItems($event)">
                <option *ngFor="let sort of sortOptions" [value]="sort.value">{{sort.name}}</option>
            </select>
            <h3>Brand</h3>
            <ul class="list-group">
                <li class="list-group-item"
                 *ngFor="let brand of Brands"
                 [class.active]="brand.id === brandIdSelected"
                 [value]="brand.name"
                 (click)="brandSelected(brand.id)"
                 >{{brand.name}}</li>
            </ul>
            <h3>Type</h3>
            <ul class="list-group">
                <li class="list-group-item"
                 *ngFor="let type of Types"
                 [class.active]="type.id === typeIdSelected"
                 [value]="type.name"
                 (click)="typeSelected(type.id)"
                 >{{type.name}}</li>
            </ul>

        </div>
        <div class="col-9">
            <header>
                <div class="d-flex mb-2 justify-content-between align-items-center">
                <app-pagination-header
                [pageNumber]="paginatedList.pageNumber"
                [pageSize]="paginatedList.pageSize"
                [totalCount]="paginatedList.totalCount"
                ></app-pagination-header>
                    <div class="btn-group d-flex align-items-center justify-content-between gap-3">
                        <input type="text" (keyup.enter)="getProducts()" [(ngModel)]="searchString" placeholder="Search"
                            class="form-control">
                        <button class="btn btn-outline-primary" (click)="getProducts()">Search</button>
                        <button class="btn btn-outline-success" (click)="searchString='';">Reset</button>
                    </div>
                </div>
            </header>
            <div class="row row-cols-lg-3 row-cols-md-1 row-cols-sm-1 mb-3">
                <div class="col mb-2" *ngFor="let product of Products">
                    <app-product-item [product]="product"></app-product-item>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center" *ngIf="paginatedList.totalCount > 0">
                <app-pagination
                    [totalCount]="paginatedList.totalCount"
                    [pageSize]="paginatedList.pageSize"
                    (pageChanged)="changePage($event)"
                ></app-pagination>
            </div>
        </div>
    </div>
</div>