<nav class="navbar navbar-expand-sm d-flex align-items-center bg-white justify-content-between border-bottom shadow-sm p-3 fixed-top gap-4">
    <a class="navbar-brand" routerLink="/">E-Commerce</a>
    <button class="navbar-toggler" data-bs-target="#navitem" aria-controls="navitem" data-bs-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navitem">
        <div class="navbar-nav ">
            <div class="navbar-item me-3">
                <a class="navbar-link " 
                routerLinkActive="active" 
                routerLink="/"
                [routerLinkActiveOptions]="{exact:true}"
                >Home</a>
            </div>
            <div class="navbar-item me-3">
                <a class="navbar-link " routerLinkActive="active" routerLink="/shop">Shop</a>
            </div>
            <div class="navbar-item me-3">
                <a class="navbar-link " routerLinkActive="active" routerLink="/contact">Contact</a>
            </div>

        </div>
    </div>
    <div class="d-flex align-items-center">
        <a routerLink="/basket" class="me-3 position-relative">
            <span class="fa fa-shopping-cart fa-2x text-dark"></span>
            <div *ngIf="(basket | async) as baskets" class="cart-no">{{getCount(baskets.items)}}</div>
        </a>
        <ng-container *ngIf="(user |async) === null">
        <button routerLink="/account/login" class="btn btn-outline-secondary me-3">Login</button>
        <button routerLink="/account/register" class="btn btn-outline-secondary m3-3">SignUp</button>
    </ng-container>
    <ng-container *ngIf="(user |async) as user">
        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle" id="useraction" type="button" data-bs-target="#useraction" aria-controls="useraction" data-bs-toggle="dropdown">Welcome {{user.displayName}}</button>
            <div class="dropdown-menu" aria-labelledby="useraction" id="useraction">
                <a class="dropdown-item" routerLink="/basket"> <span><i class="fa fa-shopping-cart fa-1x"></i></span> Orders</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="onLogout()"><span><i class="fa fa-sign-out fa-1x"></i></span> Logout</a>
            </div>
        </div>
    </ng-container>

    </div>
</nav>