<nav class="navbar navbar-expand-sm d-flex align-items-center bg-white justify-content-between border-bottom shadow-sm p-3 fixed-top gap-4">
    <a class="navbar-brand" routerLink="/">E-Commerce</a>
    <button class="navbar-toggler" data-bs-target="#navitem" aria-controls="navitem" data-bs-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navitem">
        <div class="navbar-nav ">
            <div class="navbar-item me-3">
                <a class="navbar-link " 
                routerLinkActive="active" 
                routerLink="/"
                [routerLinkActiveOptions]="{exact:true}"
                >Home</a>
            </div>
            <div class="navbar-item me-3">
                <a class="navbar-link " routerLinkActive="active" routerLink="/shop">Shop</a>
            </div>
            <div class="navbar-item me-3">
                <a class="navbar-link " routerLinkActive="active" routerLink="/contact">Contact</a>
            </div>

        </div>
    </div>
    <div class="d-flex align-items-center">
        <a class="me-3 position-relative">
            <span class="fa fa-shopping-cart fa-2x text-dark"></span>
            <div class="cart-no">6</div>
        </a>
        <button class="btn btn-outline-secondary me-3">Login</button>
        <button class="btn btn-outline-secondary m3-3">SignUp</button>

    </div>
</nav>