.cart-no{
    text-decoration: none;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    bottom: 18px;
    left: 18px;
}
a{
   color: rgba(var(--bs-dark-rgb));
   text-decoration: none;
   cursor: pointer;

   &.active{
    color: orange;
   }
}